body {
    background-color: #F2FFFC;
    font-family: "Crimson Text", "Times New Roman", serif;
    line-height: 1.5;
    font-size: 120%;
}

h2 {
    font-size: 30px;
    clear: both;
}

h1, h2 {
    font-family: "Open Sans Condensed", "Arial", sans-serif;
}

p {
    text-align: justify;
    margin: 20px 0;
}

aside a {
    color: inherit;
    font-family: "Open Sans Condensed", sans-serif;
}

aside h1 {
    font-size: 30px;
    margin-bottom: 25px;
}

nav a {
    color: #F2FFFC;
    text-transform: lowercase;
}

footer {
    background-color: black;
    color: #F2FFFC;
    clear: both;
}

main {
    float: left;
    width: 85%;
}

main a {
    color: #851944;
}

main div {
    width: 720px;
    margin: auto;
    padding: 30px 0;
}

ul {
    list-style-type: none;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

blockquote, aside, footer {
    padding: 20px;
}

article {
    padding-bottom: 30px;
    border-bottom: 1px solid #CCC;
    margin-bottom: 20px;
}

aside, img {
    float: right;
    width: 15%;
}

aside {
    clear: right;
    box-sizing: border-box;
}

cite {
    font-style: italic;
    float: right;
}

.titulo-principal {
    background-color: #851944;
    color: #FFF;
    font-size: 60px;
    text-align: center;
    padding: 25px;
    border-bottom: 10px solid black;
    text-transform: uppercase;
}

.citacao-fiat, .citacao-petrobras {
    background-color: #D9E5E3;
    border: 10px solid #C2CCCA;
    width: 250px;
    margin: 20px 40px;
    box-sizing: border-box;
}

.citacao-fiat {
    float: right;
}

.citacao-petrobras {
    float: left;
}

.navegacao-site {
    background-color: #3C1D3D;
    color: #F2FFFC;
    text-align: center;
}

.icones-redes-sociais li {
    /* Tecnica de image replacement*/
    display: inline-block;
}

.icones-redes-sociais a {
    width: 40px;
    height: 40px;
    /* Tecnica de image replacement*/
    display: inline-block;
    text-indent: -99999px;
}

.github {
    background-image: url(../github.png);
}

.twitter {
    background-image: url(../twitter.png);
}

.linkedin {
    background-image: url(../linkedin.png);
}

.leia-mais {
    padding: 8px;
    margin: 16px;
    display: block;
    font-size: 24px;
    text-align: center;
    background-color: #E6E7E8;
}